.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  display: inline;
}
li{
  display: inline;
}
#input{
  width: 100px;
}
#choices{
  background-color: white;
  width:250px;
  position:relative;
  top:280px;
}
#animals{
  background-color: white;
  width:250px;
}
.yuzhi{
  width: 70px;
}
#legend{
  float: right;position: relative;
  text-align: right;
  margin-right:0px;
}
#suggestId{width:150px;}
#searchResultPanel{border:1px solid #C0C0C0;width:150px;height:auto; display:none;}
#vmaps{
  background-color: white;
  width:250px;
}
#dbutton{
  width:20%;
}
#suggestId{
  width:82%;
}
.title{
  background-color: lightgrey;
}
.label{
  width: 30%;
}
#map{position:absolute;margin-top:0px;left:0;
height: 100%;width:100%;overflow: hidden;}