.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input-range{
  max-width:235px;
  margin-bottom: 15px;
  
  max-height: 10px;
  left:5px;
  right: 5px;
}
.App-link {
  color: #09d3ac;
  display: inline;
}
li{
  display: inline;
}
#input{
  width: 100px;
}
#choices{
  background-color: white;
  width:300px;
  position:relative;
  top:240px;
  left: 7px;
}
#r{
  background-color: white;
  width:300px;
  position:relative;
  
  max-height: calc(58vh);
  overflow: auto;
  overflow-x: hidden;
}
#animals{
  background-color: white;
  width:300px;
  font-weight: 100;
}
.yuzhi{
  width: 70px;
}
#suggestId{width:150px;}
#searchResultPanel{border:1px solid #C0C0C0;width:150px;height:auto; display:none;}
#vmaps{
  background-color: white;
  margin-left:2px;
  margin-right: 2px;
}
#legend img{
  margin-top: 4px;
  width: 280px;
}

#dbutton{
  width:20%;
}
#suggestId{
  width:82%;
}
#tshow{
  position: relative;
  left: 50px;
  margin-bottom:0px;
}
.title{
  background-color: lightgrey;
}
.label{
  width: 30%;
}
#map{position:absolute;margin-top:0px;left:0;
height: 100%;width:100%;overflow: hidden;}
#map .ol-zoomslider{
  height: 30%;
}
.bold{
  font-weight: 900;
}
th{
  font-weight: 400;
}
.link-top {
            width: 100%;
            margin-top: 5px;
            height: 1px;
            border-top: solid lightgrey 2px;
        }
